.flex-header{
    display: flex;
    background-color: #FF6900;
    justify-content: space-around;
}

.flex-head{
    display: flex;
    flex-direction: row;
    padding: 1%;
    color: white;
    gap: 10px;
}

.logo{
    width: 100px;
}



.shop{
    border-color: black;
    border-style: groove;
    display: flex;
    flex-direction: row;  
    margin: 30px;
    gap: 3%;
    justify-content: center;
}

.article-shop{
    border-color: rgb(246, 6, 6);
    border-style: groove;
    
}

p{
    margin: 0%;
}

.price-red{
    color: red;
}

.price-row{
    flex-wrap: nowrap;
}

.img{
    height: 400px;
}