body{
    font-family: sans-serif;
}

.flex-header{
    display: flex;
    background-color: #FF6900;
    justify-content: space-around;
}

.flex-head{
    display: flex;
    flex-direction: row;
    padding: 1%;
    color: white;
    gap: 10px;
}

.logo{
    width: 100px;
}

.shop{
    display: flex;
    flex-direction: row;  
    margin: 30px;
    gap: 3%;
    justify-content: center;
}

.article-shop{
    position: relative;
}

.sco-sos{
    position: relative;
}

.sconto-50{
    color: white;
    background-color: red;
    position: absolute;
    top: 450px;
}

.sost{
    background-color: green;
    color: white;
    position: absolute;
    top: 450px;
    right: 220px;
}

.sconto-30{
    color: white;
    background-color: red;
    position: absolute;
    top: 450px;
}

p{
    margin: 0%;
}

.price-red{
    color: red;
}

.img{
    height: 500px;

}

.sost2{
    background-color: green;
    color: white;
    position: absolute;
    top: 450px;
    right: 265px;
}