body{
    font-family: sans-serif;
}

.flex-header{
    display: flex;
    background-color: #FF6900;
    justify-content: space-around;
}

.flex-head{
    display: flex;
    flex-direction: row;
    padding: 1%;
    color: white;
    gap: 10px;
}

.logo{
    width: 100px;
}

.shop{
    display: flex;
    flex-direction: row;  
    margin: 30px;
    gap: 3%;
    justify-content: center;
}

.article-shop{
    position: relative;
}

.sco-sos{
    position: relative;
}

.sconto-50{
    color: white;
    background-color: red;
    position: absolute;
    top: 450px;
    z-index: 1;
    padding: 0.5%;
}

.sost{
    background-color: green;
    color: white;
    position: absolute;
    top: 450px;
    right: 220px;
    z-index: 1;
    padding: 0.5%;
}

.sconto-30{
    color: white;
    background-color: red;
    position: absolute;
    top: 450px;
    z-index: 1;
    padding: 0.5%;
}

p{
    margin: 0%;
}

.price-red{
    color: red;
}

.sost2{
    background-color: green;
    color: white;
    position: absolute;
    top: 450px;
    right: 275px;
}

.img1{
    height: 500px;
}

.img1-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img1-b{
    display: inline-block;
}

.img-hover:hover .img1{
    display: none;
}

.img2{
    height: 500px;
}

.img2-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img2-b{
    display: inline-block;
}

.img-hover:hover .img2{
    display: none;
}

.img3{
    height: 500px;
}

.img3-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img3-b{
    display: inline-block;
}

.img-hover:hover .img3{
    display: none;
}

.img4{
    height: 500px;
}

.img4-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img4-b{
    display: inline-block;
}

.img-hover:hover .img4{
    display: none;
}

.img5{
    height: 500px;
}

.img5-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img5-b{
    display: inline-block;
}

.img-hover:hover .img5{
    display: none;
}

.img6{
    height: 500px;
}

.img6-b{
    display: none;
    height: 500px;
}

.img-hover:hover .img6-b{
    display: inline-block;
}

.img-hover:hover .img6{
    display: none;
}

.footer-flex{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
}

.left-footer{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.right-footer{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
